form{
    padding: 10px;
    width: 100%;
}
form div{
    margin: 10px;
}
.postImage{
   margin-left: 30%;
   width: 180px;
   height: 180px;
}
#displayContent{
    padding: 10px;
}
#overlayOne{
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;

}
.jumbotro{
    background-color: #858080;
    padding: 30px;
    transform: translateX(-10px);
    margin: 10px;
    border-radius: 5px;
}
.fa-times{
    position: absolute;
    right: 15px;
    padding: 10px;
    cursor: pointer;
}

@keyframes fades {
  from {top: 200px;}
  to {top: 380px;}
}